# Google Maps
GOOGLE_MAPS_GEOCODING_API_KEY=AIzaSyA95so4_aRUnfubUl3hzLmNkwkMkmNPZH4
EXPO_PUBLIC_GOOGLE_MAPS_GEOCODING_API_KEY=AIzaSyA95so4_aRUnfubUl3hzLmNkwkMkmNPZH4

# Social Authentication (Public Mobile Client IDs)
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=916119380843-e665r7bpkl725euhq7a7mttndndihujb.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=

EXPO_PUBLIC_FACEBOOK_APP_ID=1560789862368581

EXPO_PUBLIC_APPLE_SERVICE_ID=com.nwaiwuchi10.vibeslinks
